<li>
  <span class="flex items-center justify-center h-10 px-4 leading-tight text-gray-500 bg-white border border-gray-300 page gap dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"><%= t('views.pagination.truncate').html_safe %></span>
</li>
